<!-- <div [formGroup]="group" class="differ">
    <ng-container formArrayName="address" *ngFor="let group of addressArray.controls; let i = index">
        <div [formGroupName]="i">
            <label>Street</label><br>
            <input placeholder="Street" formControlName="street" /><br>
            <label>City</label><br>
            <input placeholder="City" formControlName="city" /><br>
            <label>Country</label><br>
            <input placeholder="State" formControlName="state" /><br>
        </div>
    </ng-container>
</div> -->
<ng-container [formGroup]="group">
    <div formGroupName="address">
        <h3>Address</h3>

        <label>
      Street:
      <input type="text" formControlName="street">
    </label>

        <label>
      City:
      <input type="text" formControlName="city">
    </label>

        <label>
      State:
      <input type="text" formControlName="state">
    </label>
    </div>
</ng-container>